# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
.env
.env.*

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Tests
tests/

# Misc
*.log
*.swp
*.bak
package-lock.json
package.json
node_modules/
